* {
  padding: 0;
  margin: 0;
}
a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}
:root {
  --font-family: "Onest", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Lora", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: rgb(254, 252, 250);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(241, 241, 241);
}

.header__leftpanel {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 92px;
  height: 49.95px;
}
.header__menu {
  display: flex;
  gap: 26px;
}
.header__menu__linkArea {
  display: flex;
  gap: 26px;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.aboutUs {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.aboutUs__textArea {
  width: 612px;
  height: 662px;
  padding: 64px 32px 64px 0px;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.aboutUs__textArea__title {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.aboutUs__textArea__subtitle {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.aboutUs__photo {
  width: 588px;
  height: 662px;
}

.bth--header {
  width: 180px;
  height: 48px;
}

.bth--green {
  border: 1px solid rgb(42, 77, 69);
  border-radius: 8px;
  background: linear-gradient(0deg, rgb(5, 43, 36), rgb(18, 54, 47) 100%);
  padding: 14px 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bth--transparent {
  border: 1px solid rgb(0, 20, 16);
  border-radius: 8px;
  padding: 14px 20px 14px 20px;
  background: rgb(254, 252, 250);
  cursor: pointer;
}

.bth--about {
  width: 224px;
  height: 48px;
}

.bth--text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}

.aboutUs__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgb(94, 94, 93);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
}

.aboutUs__info__metro {
  display: flex;
  gap: 16px;
}

.aboutUs__info__metro__title {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.img--Metro {
  width: 25.83px;
  height: 20px;
}

.portfolio {
  margin-bottom: 56px;
  display: contents;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__gallery {
  position: relative;
  padding-bottom: 700px;

  /* overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  */
}

.portfolio__gallery__slider {
  position: absolute;
  top: 1px;
  right: -800px;
  display: flex;
  align-items: start;
  gap: 24px;

  margin-bottom: 20px;
}

.portfolio__gallery__slide {
}

.portfolio__gallery__slide__img {
  width: 384px;
  height: 597px;
  margin: 16px 0px;
}

.portfolio__gallery__slide__paragraph {
  color: rgb(0, 0, 0);
  font-family: Onest;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.portfolio__gallery__switcher {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.portfolio__gallery__switcher__circleArea {
  display: flex;
  gap: 14px;
}

.portfolio__gallery__switcher__circleArea__circle {
  width: 14px;
  height: 14px;
  background: rgb(220, 228, 224);
  border-radius: 50%;
}

.portfolio__gallery__switcher__bthArea {
  display: flex;
  gap: 14px;
}

.switcher__bth {
  border-radius: 8px;
  background: rgb(220, 228, 224);
  width: 44px;
  height: 44px;
  border: none;
}
